<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>404 - Page Not Found</title>
	<!-- Favicon Icon -->
	<link rel="icon" type="image/x-icon" href="images/favicon-blue-32x32.png" />
	<!-- Google web Font -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400">
	<!-- Font Awesoeme Stylesheet CSS -->
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Main Stylesheet CSS -->
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- Start Not Found Section -->
	<div class="notfound-wrapper">
		<h1 class="notfound-ttl">404</h1>
		<p class="notfound-tag-1">Page not found!!!</p>
		<span class="notfound-tag-2">what you're trying to visit does not exsir...</span>
		<div class="notfound-link">
			<a href="#" class="button-icon"><span>Go to Home</span><i class="fa fa-home"></i></a>
			<a href="#" class="button-icon"><span>Report Problem</span><i class="fa fa-bug"></i></a>
		</div>
		<ul class="social-list notfound-social">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-google"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-flickr"></i></a></li>
			<li><a href="#"><i class="fa fa-rss"></i></a></li>
		</ul>
	</div><!-- End Not Found Section -->
</body>
</html>