//Font-Faimily
$font: 'Montserrat', sans-serif;
$fontHeading: 'Montserrat', sans-serif;
//$fontHeading: 'Playfair Display', serif;
//Background Color
$bodyColor: #FAFAFA;

//*************************************************
// Blue Theme Color Code **************************
//************************************************/

$color-primary-0: #32C1CE;	// Main Primary color 
$color-primary-1: #EBFCFD;	// Main Primary color Extra Light
$color-primary-2: #75DBE4;	// Main Primary color Light
$color-primary-3: #02A7B6;  // Main Primary color Dark 
$color-primary-4: #015259;  // Main Primary color Extra Dark 

$gradientColor: linear-gradient(-90deg,rgba(2,167,182,1), rgba(1, 82, 89,1));
$gradientBackground: linear-gradient(-90deg,rgba(2,167,182,.9), rgba(1, 82, 89,.9));
$color-primary-4-rgba-80: rgba(1, 82, 89,.8);


//*************************************************
// Green Theme Color Code **************************
//************************************************

/*
$color-primary-0: #54C799;	// Main Primary color
$color-primary-1: #E6FEF4;  // Main Primary color Extra Light
$color-primary-2: #96EAC8;  // Main Primary color Light
$color-primary-3: #299E6F;  // Main Primary color Dark
$color-primary-4: #0F6140;  // Main Primary color Extra Dark 

$gradientColor: linear-gradient(-90deg, rgba( 41,158,111,1), rgba( 15, 97, 64,1));
$gradientBackground: linear-gradient(-90deg, rgba( 41,158,111,.9), rgba( 15, 97, 64,.9));
$color-primary-4-rgba-80: rgba(15, 97, 64,.8);
*/


//*************************************************
// Orange Theme Color Code **************************
//*************************************************

/* 
$color-primary-0: #EFA752;	// Main Primary color 
$color-primary-1: #FFEFDB;  // Main Primary color Extra Light
$color-primary-2: #FFCE94;  // Main Primary color Light
$color-primary-3: #B8701B;  // Main Primary color Dark
$color-primary-4: #5D3200;  // Main Primary color Extra Dark 

$gradientColor: linear-gradient(-90deg, rgba( 184,112, 27,1), rgba( 93, 50,  0,1));
$gradientBackground: linear-gradient(-90deg, rgba(184,112, 27, 0.9), rgba(93, 50,  0, 0.9));
$color-primary-4-rgba-80: rgba(93, 50,  0,.8);*/ 


//*************************************************
// Purple Theme Color Code **************************
//*************************************************
/* 
$color-primary-0: #A775D4;  // Main Primary color 
$color-primary-1: #F7EFFE;  // Main Primary color Extra Light
$color-primary-2: #D2B0F1;  // Main Primary color Light
$color-primary-3: #7946A8;  // Main Primary color Dark
$color-primary-4: #542A7B;  // Main Primary color Extra Dark 

$gradientColor: linear-gradient(-90deg, rgba( 121, 70,168,1), rgba( 84, 42,123,1));
$gradientBackground: linear-gradient(-90deg, rgba(121, 70,168, 0.9), rgba(84, 42,123, 0.9)); 
$color-primary-4-rgba-80: rgba(84, 42,123,.8);
*/


//Theme Color
$colorBlue: #32C1CE;
$colorGreen: #54C798;
$colorOrange: #EfA752;
$colorPurple: #A675D4;
$colorRed: #cc5151;
$colorSecondary: #8BC34A;
$colorTertiary: #CDDC39;

$color-primary: $color-primary-0;
$color-secondary: #EEE;
$color-warning: #fec107;
$color-danger: #fb9678;
$color-info: #03a9f3;
$color-light: #EEE;
$color-dark: #555;
$color-success: #0bc36e;

$color-primary-rgba: rgba(3, 169, 243, .1);
$color-secondary-rgba: rgba(238, 238, 238, .1);
$color-warning-rgba: rgba(254, 193, 7, .1);
$color-danger-rgba: rgba(251, 150, 120, .1);
$color-info-rgba: rgba(3, 169, 243, .1);
$color-light-rgba: rgba(238, 238, 238, .1);
$color-dark-rgba: rgba(85, 85, 85, .1);
$color-success-rgba: rgba(11, 195, 110, .1);

$color-primary-rgba-60: rgba(3, 169, 243, .60);
$color-secondary-rgba-60: rgba(238, 238, 238, .60);
$color-warning-rgba-60: rgba(254, 193, 7, .60);
$color-danger-rgba-60: rgba(251, 150, 120, .60);
$color-info-rgba-60: rgba(3, 169, 243, .60);
$color-light-rgba-60: rgba(238, 238, 238, .60);
$color-dark-rgba-60: rgba(85, 85, 85, .60);
$color-success-rgba-60: rgba(11, 195, 110, .60);

$color-primary-rgb: rgba(3, 169, 243, 1);
$color-secondary-rgb: rgba(238, 238, 238, 1);
$color-warning-rgb: rgba(254, 193, 7, 1);
$color-danger-rgb: rgba(251, 150, 120, 1);
$color-info-rgb: rgba(3, 169, 243, 1);
$color-light-rgb: rgba(238, 238, 238, 1);
$color-dark-rgb: rgba(85, 85, 85, 1);
$color-success-rgb: rgba(11, 195, 110, 1);

// Color Code 
$colorF: #FFF;
$colorE: #EEE;
$colorC: #CCC;
$colorD: #DDD;
$colorA: #AAA;
$color9: #999;
$color7: #777;
$color5: #555;
$color3: #333;

//Font Code
$smallFont: 12px;
$sMediumFont: 14px;
$mediumFont: 16px;
$largeFont: 20px;
$xlargeFont: 24px;